<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logottt.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>
    <title>Wine ONE LIFE - Inicio</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
                <div class="container">
                    <div class="first">
                        <img src="/img/wine7.jpg" alt="" class="img-vino">
                        <div class="wine">
                            <form class="bot-cat" method="POST" action="/products/categoria">
                            <button type="submit" name="category" value="vinos" class="texto">VINOS</button>
                        </form>
                        </div>
                    </div>
                    <div class="second">
                        <img src="/img/beer3.jpg" alt="" class="">
                        <div class="beer">
                            <form class="" method="POST" action="/products/categoria">
                            <button type="submit" name="category" value="cervezas" class="texto">CERVEZAS</button>
                        </form>
                        </div>
                    </div>
                    <div class="tercero">
                        <img src="/img/wiskey2.jpg" alt="" class="">
                        <div class="wiskey">
                            <form class="" method="POST" action="/products/categoria">
                            <button type="submit" name="category" value="whisky" class="texto">WHISKY</button>
                        </form>
                        </div>
                    </div>
                    <div class="cuatro">
                        <img src="/img/champ1.jpg" alt="" class="">
                        <div class="champain">
                            <form class="" method="POST" action="/products/categoria">
                                <button type="submit" name="category" value="espumantes" class="texto">ESPUMANTES</button>
                            </form>
                        </div>
                    </div>
                </div>
        
            <br>
            <main class="main-sections">
                <h2>Nuestras recomendaciones</h2>
                <% recomendados.forEach((producto, i, recomendados)=> {%>
                    <section id="productos" class="productos">
                        <article class="articulos">
                            <div>
                                <p>Categoria - <%=recomendados[i].category%> </p>
                            </div>
                            <div><a href="/products/product-detail/<%=recomendados[i].id%>"><img class="img-producto"
                                        src="/img/<%= recomendados[i].image %>"></a></div>
                            <div>
                                <p class="">
                                    <%=recomendados[i].name%>
                                </p>
                            </div>
                            <!-- <div class="">
                                <%=recomendados[i].description%>
                            </div> -->
                            <div class="">
                                <%=recomendados[i].price%>
                            </div>
                            <div> <i class="fas fa-cart-arrow-down"></i></div>
                        </article>
                    </section>
                    <%})%>
            </main>
            <%- include("partials/footer.ejs") %>
</body>

</html>