<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logottt.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>
    <title>Wine ONE LIFE - Inicio</title>
</head>

<body>
    <main class="main-sections">
        <section class="section-article">
            <div>
                <div class="user"><i class="fas fa-user-circle"></i></div>
                <h2>nombre usuario</h2><br>
            </div>
            <div class="section-detail">
                <article class="article-detail">
                    <img class="imagen-editar" src="/img/<%=producto.image %>" alt="Producto">
                    <div class="descripcion">
                        <h1>
                            <%=producto.name%>
                        </h1>
                        <p>
                            <%=producto.description%>
                        </p>
                    </div>
                    <hr class="article-separator">
                    <div class="info">
                        <h5>Precio</h5>
                        <p class="precios">$ <%=producto.price%>
                        </p>
                    </div>
                </article>
            </div>
            <div class="cont-form">
                <form class="formulario" method="POST" action="/products/edit/:id?_method=PATCH"
                    enctype="multipart/form-data">
                    <fieldset>
                        <legend>Editar producto - <i class="fas fa-edit"></i></legend>
                        <div class="campo-form">
                            <label for="id">ID producto:</label>
                            <input type="number" name="id" id="id" value="<%=producto.id%>" readonly>
                        </div>
                        <div class="campo-form">
                            <label for="nombre">Nombre del producto:</label>
                            <input type="text" name="nombre" id="nombre" value="<%=producto.name%>">
                        </div>
                        <br>
                        <div class="campo-form">
                            <p>
                                <%=producto.category%>
                            </p>
                            <label for="categoria">Categoria:</label>
                            <select name="categoria" id="categoria">
                                <option value="vino"> Vinos</option>
                                <option value="cerveza">Cervezas</option>
                                <option value="whisky">Whisky</option>
                                <option value="esp">Espumantes</option>
                            </select>
                        </div>
                        <br>
                        <div class="campo-form">
                            <label for="precio">Precio:</label>
                            <input type="number" name="precio" id="precio" value="<%=producto.price%>">
                        </div>
                        <br>
                        <div class="campo-form">
                            <label for="descripcion">Descripcion</label><br>
                            <textarea id="descripcion" name="descripcion" rows="5" cols="50" placeholder="desc"><%=producto.description%></textarea>
                        </div>
                        <br>
                        <div class="campo-form">
                            <label for="image">Imagen de producto:</label>
                            <input type="file" id="image" name="image" accept="image/*">
                        </div>
                        <br>
                        <p>Producto recomendado:</p>
                        <label for="recomendado">Si</label>
                        <input type="radio" name=recomendado value=true>
                        <label for="recomendado">No</label>
                        <input type="radio" name="recomendado" value=false>
                        <br>
                        <div class="botones-form">
                            <button class="boton" type="submit">Guardar</button>
                        </div>
                    </fieldset>
                </form>
                <form class="formulario" method="POST" action="/products/delete/<%=producto.id%>?_method=DELETE"
                    enctype="multipart/form-data">
                    <button class="boton-delete" type="submit">Borrar</button>
                    <div>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>